<table class="tabpayscir">
    {{#each listeResultats}}
        <tr><td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" height="32px" width="32px" />
            <a style="margin-bottom: 3px" href="/detailPrix/{{this.gpnum}}"> {{this.gpnom}}</a>
        </td></tr>
    {{/each}}
</table>
